.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.flip {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

.card__face img {
    height: 100%;
    width: 100%;
}

.card__back {
    transform: rotateY(180deg);
}

.hide {
    display: none;
}